body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

/* alignment for header */
.headAlign{
    padding: 10px 0 10px 0;
}

#headPortfolio{
    text-align: center;
    align-items: center;
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    height: 1.5em;
    width: 100%;
    top: 0;
    z-index: 10;
    font-size: 4em;
    color: white;
    background-color: rgb(28, 121, 175);
    justify-content: center;
    border-bottom: 2px solid rgb(36, 80, 136);
}

.navContainer{
    display: flex;
    height: 2em;
    width: 7em;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2.5px solid rgb(36, 80, 136);
    background-color: rgb(28, 121, 175);
    padding-bottom: 10px;
    padding-top: 10px;
}

#navBtn{
    z-index: -1;
    height: 2em;
}

.navLine{
    border: 3px white solid;
    height: 10px;
    color: white;
    z-index: -1;
}

#navBar{
    z-index: 0;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 7em;
    background-color: rgb(28, 121, 175);
    width: 10em;
    height: 100%;
    border-right: 2.5px solid rgb(36, 80, 136);
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12em;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    border-top: 1px solid rgb(36, 80, 136);
    z-index: 0;
}

.navLink{
    border-top: 1px solid rgb(12, 94, 119);
    line-height: 5em;
    text-align: center;
    font-size: 1.2em;
    text-wrap: nowrap;;
}

.navLink:first-child{
    border-top: none;
}

#myPhoto{
    position: relative;
    border-radius: 100%;
    border: 3px solid black;
    object-fit: cover;
    float: left;
}

#aboutMe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -3;
}

#aboutDesc{
    font-size: 1.6em;
}

#aboutHead{
    font-size: 1.8em;
}

/* sizes for all sections */
.sections{
    margin: 0;
    margin-left: 10em;
    padding: 0;
    height: 60em;
    width: calc(100% - 10em);
    z-index: -3;
    border-bottom: 5px solid black;
}

/* text for about me */
.about{
    position: relative;
    right: 70px;
    width: 50em;
}

/* for aligning sections */
#sectAlign{
    display: flex;
    flex-direction: column;
}

#projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    caret-color: transparent;
    border-bottom: 0;
}

.projectPic{
    height: 20em;
    width: 20em;
    object-fit: contain;
    border: 5px solid black;
    border-radius: 15%;
}

.projectDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 121, 175);
    background-color: b;
    width: auto;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 20em;
    color: white;
}

#contHead{
    font-size: 2em;
}

.contInfo{
    font-size: 1.5em;
}

#alignCont1{
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin-bottom: 2em;
    margin-left: 2em;
}

#alignCont2{
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin-right: 2em;
    margin-bottom: 2em;
}

