body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

/* alignment for header */
.headAlign{
    padding: 10px 0 10px 0;
    width: 100%;
}

#headPortfolio{
    text-align: center;
    align-items: center;
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    height: 1.5em;
    width: 100%;
    top: 0;
    z-index: 10;
    font-size: 4em;
    color: white;
    background-color: rgb(28, 121, 175);
    justify-content: center;
    border-bottom: 2px solid rgb(36, 80, 136);
}

.navContainer{
    display: flex;
    height: 2em;
    width: 7em;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2.5px solid rgb(36, 80, 136);
    background-color: rgb(28, 121, 175);
    padding-bottom: 10px;
    padding-top: 10px;
}

#navBtn{
    z-index: -1;
    height: 2em;
}

.navLine{
    border: 3px white solid;
    height: 10px;
    color: white;
    z-index: -1;
}

#navBar{
    z-index: 19;
    position: relative;
    position: fixed;
    width: 100%;
    top: 7em;
    background-color: rgb(28, 121, 175);
    width: 10em;
    height: 18em;
    border-right: 2.5px solid rgb(36, 80, 136);
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12em;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    border-top: 1px solid rgb(36, 80, 136);
    z-index: 0;
}

.navLink{
    border-top: 1px solid rgb(12, 94, 119);
    line-height: 5em;
    text-align: center;
    font-size: 1.2em;
    text-wrap: nowrap;;
}

.navLink:first-child{
    border-top: none;
}

#myPhoto{
    position: relative;
    border-radius: 100%;
    border: 3px solid black;
    object-fit: cover;
    float: left;
}

#aboutMe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -3;
}

#aboutDesc{
    font-size: 1.6em;
}

#aboutHead{
    font-size: 1.8em;
}

/* sizes for all sections */
.sections{
    margin: 0;
    padding: 0;
    height: 60em;
    width: 100%;
    z-index: -3;
    border-bottom: 5px solid black;
}

/* text for about me */
.about{
    position: relative;
    right: 70px;
    width: 50em;
}

/* for aligning sections */
#sectAlign{
    display: flex;
    flex-direction: column;
}

#projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    caret-color: transparent;
    border-bottom: 0;
}

.projectPic{
    height: 20em;
    width: 20em;
    object-fit: contain;
    border: 5px solid black;
    border-radius: 15%;
}

.projectDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 121, 175);
    background-color: b;
    width: auto;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 20em;
    color: white;
}

#contHead{
    font-size: 2em;
}

.contInfo{
    font-size: 1.5em;
}

#alignCont1{
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin-bottom: 2em;
    margin-left: 2em;
}

.navLine{
    position: relative;
    color: white;
    background-color: white;
    z-index: 12;
    height: 0.2em;
    width: 2.5em;
    border: 2px solid black;
}

#navBtn{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 3em;
    width: 3em;
    margin-top: 10px;
    z-index: 20;
}

    @media (max-width: 601px) {
        header {
            width: 100%; 
            font-size: 2em; 
        }
    
        #navBar {
            display:block;
            height: 18em;
            top: 4em;
            z-index: 19;
        }
    
        #aboutMe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3em;
            height: auto;
        }
        .about{
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0;
            right: 0;
        }

        #aboutDesc{
            font-size: 1em;
        }
    
        #myPhoto {
            display: block;
            position: relative;
            height: 10em;
            width: 10em;
        }
    
        .about {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 0.8em;
            width: 100%;
            margin-left: 0;
        }
    
        #aboutDesc {
            width: 100%;
        }
    
        .sections {
            width: 100%;
        }

        #sectAlign{
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            width: 100%;
        }

        .projectPic{
            width: 12em;
            height: 12em;
        }

        .projectDesc{
            font-size: .8em;
        }

        #projects{
            flex-wrap: wrap;
        }

        footer{
            font-size: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .navLine{
            position: relative;
            color: white;
            background-color: white;
            z-index: 12;
            height: 0.2em;
            width: 2.5em;
            border: 2px solid black;
        }

        #navBtn{
            display: flex;
            position: fixed;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 3em;
            width: 3em;
            margin-top: 10px;
            z-index: 20;
        }

        #navBtn:hover{
            cursor: pointer;
        }
    }


    @media (min-width: 600px) and (max-width: 1000px) {

footer{
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 0;
}

.projectPic{
    width: 10em;
    height: 10em;
}

#projects{
    flex-wrap: wrap;
}


.projectDesc{
    font-size: 1.3em;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    height: 50em;
}
    
.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 0.8em;
    width: 75%;
    height: 40em;
    margin-left: 10em;
    margin-top: 2em;
}


#myPhoto {
    display: block;
    height: 15em;
    width: 15em;
    top: 5em;
}

#aboutDesc{
    font-size: 1.5em;
    width: 100%;
}
    }

    @media (min-width: 1000px) and (max-width: 1400px) {
.about{
    width: 45%;
}
    }